<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live Chatroom</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container-fluid">
      <div class="well text-center">
        <h4>Chatroom</h4>
      </div>
      <div class="col-sm-8">
        <div id="nomsg">
          <h1 style="color: #ccc">You don't have any messages!</h1>
        </div>
      </div>
      <div class="col-sm-4">
        <form action="" method="POST">
          <b>Message chatroom. <span class="glyphicon glyphicon-arrow-down"></span></b>
          <hr>
          <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="text" class="username form-control" id="exampleInputEmail1" placeholder="User Name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Message</label>
              <input type="text" class="message form-control" id="exampleInputPassword1" placeholder="Message">
            </div>
            <button type="submit" class="btn btn-success">Send <span class="glyphicon glyphicon-send"></span></button>
        </form>
      </div>
    </div>

    <!-- JavaScript at the bottom to allow the document to load faster. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
